/* deshboard.css */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@400;700&family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo de página gris claro */
}
header {
    font-family: 'Poppins', sans-serif;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;

}

.header-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo h2 {
    margin: 0;
    font-size: 1.2em;
}

nav ul {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #1877F2; /* Azul de Facebook */
    color: #fff;
    border: 1px solid #1877F2;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
}

nav a:hover {
    color: #f0f0f0;
}

.bienvenidos {

    font-family:'Poppins' sans-serif;
    text-align: center;
    margin-top: 50px; /* Espacio superior */
    font-size: 28px;
    color: #333;
}
.imagen-bienvenidos {
    display: block;
    margin: 100px auto; /* Centrado vertical y horizontal */
    max-width: 30%;
}



