<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clientes.css') }}">
    <title>Clientes</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo">
        <h1 class="header-title">Financiera Creciendo Juntos</h1>
        <div class="header-buttons">
            <a class="btn" href="{{ url_for('deshboard') }}">Inicio</a>
            <a class="btn" href="{{ url_for('clientes') }}">Clientes</a>
            <a class="btn" href="{{ url_for('prestamos') }}">Prestamos</a>
            <!-- Agrega más botones según tus necesidades -->
        </div>
    </div>

    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>

                    <a class="btn btn-editar" href="{{ url_for('editar_cliente', id=cliente[0]) }}">Editar</a>
                    <a class="btn btn-eliminar" href="{{ url_for('eliminar_cliente', id=cliente[0]) }}" onclick="event.preventDefault(); document.getElementById('eliminar-form').submit();">Eliminar</a>
                    <form id="eliminar-form" action="{{ url_for('eliminar_cliente', id=cliente[0]) }}" method="POST" style="display: none;"></form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <a class="btn" href="{{ url_for('agregar_cliente') }}">Agregar Cliente</a>
</body>
</html>
