<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header class="header">
        <div class="menu container ">
         <img src="{{ url_for('static', filename='images/logoH.png') }}" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img clas src="images/desvanecido.jpg" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    
                    <li><a href="{{ url_for('home') }}">Inicio</a></li>
                    <li><a href="{{ url_for('credit') }}">Crédito</a></li>
                    <li><a href="{{ url_for('clientes') }}">Clientes</a></li>
                    <li><a href="{{ url_for('contact') }}">Contacto</a></li>   
                    <li><a class="blue" href="#">Iniciar</a></li>
                </ul>
            </nav>
        </div>
    <header class="header">

    
</body>
</html>
          